TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

MODAL_TOKEN_ID=
MODAL_TOKEN_SECRET=
MODAL_SERVE_ENDPOINT=

RESEND_API_KEY=
EMAIL_FROM=

WEBHOOK_SECRET=

PORT=
CORS_ORIGIN=